name: Deno Lint - Cloud Functions

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'functions/**'
  push:
    branches: [ main ]
    paths:
      - 'functions/**'

jobs:
  deno-lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Clone repository
      uses: actions/checkout@v4

    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: vx.x.x

    - name: Run Deno lint
      run: deno lint functions/

    - name: Run Deno fmt check
      run: deno fmt --check functions/
      continue-on-error: true
